.body_main {
    padding-top: 2em;
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color: var(--white-colour);
    width: var(--screen-width);
    height: var(--screen-height);
    border: var(--screen-border);
    border-color: black;
    border-radius: var(--screen-border-radius);
    color: var( --font-colour);
}
.overlayButton{
    display: flex;
    justify-content: left;
    padding-bottom: 2em;
}

.main{
    padding: 0 var(--side-margin);
}

.main_container {
    height: 580px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 24px;
    gap: 24px;
    height: 560px;

}

.content{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 30em;
    overflow: auto;
    width: 360px;
}

.input_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 270px;
    height: var(--height-40px);
    border-radius: var(--border-radius-10px);
    font-size: var(--font-15px);
    background-color: var(--gray-colour);
    border-width: 4px;
    border-style: solid;
    border-color: var(--red-colour);
    font-family: var(--font-style);
    padding-left: 1em;
    gap: 1em;
}

.welcome_page_button{
    width: 153px;
    height: var(--height-55px);
    border-radius: var(--border-radius-10px);
    border: var(--border-none);
    font-size: var(--font-18px);
    background-color: var( --blue-colour);
    cursor: pointer;
}
.welcome_page_button:hover{
    background-color: var( --button-hovers);
}

/* Navbar */

.navbar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
