.body_main {
    padding-top: 2em;
    margin: auto;
    width: var(--screen-width);
    height: var(--screen-height);
    overflow: hidden;
    position: relative;
    background-color:var(--white-colour);
    width: var(--screen-width);
    height: var(--screen-height);
    border: var(--screen-border);
    border-radius: var(--screen-border-radius);
    color: var( --font-colour);
}

.main{
    padding: 0 var( --side-margin);
    font-family: var(--font-style);
}

.category_buttons{
    display: grid;
    grid-template-columns: 165px 165px;
    grid-template-rows: 120px 120px 120px;
}

.category_button_inside{
    display: flex;
    flex-direction: row;    
    text-align: var(--text-aling-left);
}

.category_button{
    border-color: var(--blue-colour);
    border-radius: var(--border-radius-10px);
    width: 153px;
    height:100px;
    background-color: #EFEFEF;
    border-style: solid;
    border-width: 5px;
    font-family: var(--font-style);
    line-height: 0.3;
}

.category_head{
    font-size: var(--font-16px);
}

.category_symptoms{
    font-size: var(--font-8px); 
    text-align: var(--text-aling-left);
    
}

.categoryPage_question{
    font-size: var(--font-18px);
    font-weight: var(--font-weight-700);
}

.category_button_inside_other{
    display: flex;
    flex-direction: column;
}

.button_shape{
    width: 13px;
    height: 100px;
}

.body_icons{
    display: flex;
  align-items: center;
  padding-right: 15px;
}

.other_icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}