.main{
    padding: 0 var( --side-margin);
}

.category_buttons{
    display: grid;
    grid-template-columns: 165px 165px;
    grid-template-rows: 120px 120px 120px;
}

.category_button_inside{
    display: flex;
    flex-direction: row;
    gap:20px;
    background-color: white;
}

.category_buttons{
    border-color: var(--blue-colour);
}

.category_head{
    font-size: var(--font-16px);
}

.category_symptoms{
    font-size: var(--font-8px); 
    line-height: 0.3;
    text-align: var(--text-aling-left);
}

.categoryPage_question{
    font-size: var(--font-18px);
}