.body_main {
    padding-top: 2em;
    margin: auto;
    width: var(--screen-width);
    height: var(--screen-height);
    overflow: hidden;
    position: relative;
    background-color: rgb(250, 250, 250);
    width: var(--screen-width);
    height: var(--screen-height);
    border: var(--screen-border);
    border-radius: var(--screen-border-radius);
}


.enter_yourname_header{
    font-size: var(--font-24px);
    
}

.main{
    padding: 0 var(--side-margin);
    display: flex;
    flex-direction: column;
    font-family: var(--font-style);
    width: 390px;
    height: 844px;
}

.input_name{
    width: var(--width-330px);
    height: var(--height-55px);
    border-radius: var(--border-radius-20px);
    font-size: var(--font-18px);
    background-color: var(--gray-colour);
    border-width: 1px;
    border-style: solid;

}

.enteryourpage__begin_button{
    width: var(--width-166px);
    height: var(--height-40px);
    border-radius: var(--border-radius-80px);
    font-size: var(--font-18px);
    background-color: var( --blue-colour);
    border: none;
}


.label{
    font-size: var( --font-16px);
}

.enteryourpage__begin_button_div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
}


.spaceholder_first_name{
    color: var( --red-colour);
    font-family: var(--font-style);
}

.spaceholder_user_name{

}