:root {

  /* Designing Colours*/
  --blue-colour: rgb(183, 215, 244);
  --red-colour: rgb(238, 193, 170);
  --white-colour: white;
  --gray-colour: rgb(239, 239, 239);
  --green-colour: rgb(169, 231, 168);
}