:root {

  /* Designing Colours*/
  --blue-colour: rgb(183, 215, 244);
  --red-colour: rgb(238, 193, 170);
  --white-colour: white;
  --gray-colour: rgb(239, 239, 239);
  --green-colour: rgb(169, 231, 168);
  --button-hovers: "#A1BEDA";
  /* Font sizes*/
  --Header-34px: 34px;
  --font-24px: 24px;
  --font-18px: 18px;
  --font-16px: 16px;
  --font-15px: 15px;
  --font-12px: 12px;
  --font-10px: 10px;
  --font-8px: 8px;
  /* Margins*/
  --side-margin: 30px;
--padding-button-font: 30px;
  /* Button size*/
  --width-140px: 140px;
  --width-160px: 160px;
  --width-166px: 166px;
  --width-290px: 290px;
  --width-330px: 330px;
  --width-80px: 80px;
  --height-20px: 20px;
  --height-40px: 40px;
  --height-55px: 55px;
  --height-180px: 180px;
      /* Button border radius*/
      --border-radius-80px: 80px;
      --border-radius-30px: 30px;
      --border-radius-20px: 20px;
      --border-radius-10px: 10px;
      --border-none: none;
      /* padding*/ 
      --padding-30px: 30px;
      --padding-15px: 15px;
      /* padding*/ 
      --text-aling-center: center;
      --text-aling-left: left;
      /* Sentence height*/
            /* Fonts*/
            --font-style: "Quicksand";
            --font-weight-700: 700;
            --font-weight-400: 400;
}




