.healthyHabits__bear_talking{
    flex-direction: row;
    display: flex;
    font-size: var(--font-16px);
    gap:20px;
}

.body_main {
    padding-top: 2em;
    margin: auto;
    width: var(--screen-width);
    height: var(--screen-height);
    overflow: hidden;
    position: relative;
    background-color: var(--white-colour);
    width: var(--screen-width);
    height: var(--screen-height);
    border: var(--screen-border);
    border-color: black;
    border-radius: var(--screen-border-radius);
    font-family: var(--font-style);
    color: var( --font-colour);
}

.main{
    padding: 0 var(--side-margin);
}

.navbar{
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
}

.button:hover{
    background-color: var( --button-hovers);
}
