.body_main {
    padding-top: 2em;
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color: rgb(250, 250, 250);
    width: var(--screen-width);
    height: var(--screen-height);
    border: var(--screen-border);
    border-radius: var(--screen-border-radius);
}
.overlayButton{
    display: flex;
    justify-content: left;
    padding-bottom: 8em;
}
.main_image{
    display: flex;
    justify-content: center;
}
.welcome_page__texts{
    text-align: center;
    font-family: var(--font-style);
    font-weight: var(--font-weight-400);
}

.welcome_page_header{
    font-size: var(--Header-34px);
    font-family: var(--font-style);
    font-weight: var(--font-weight-700);
}

.welcome_page_slogan{
    font-size: var(--font-15px);
}

.main{
    padding: 0 var(--side-margin);
}

.welcome_page_button{
    text-align: center;
    border-radius: var(--border-radius-80px);
    width: var(--width-140px);
    height: var(--height-40px);
    font-size: var(--font-18px);
    border: var(--border-none);
    background-color: var(--blue-colour);
    cursor: pointer;
}
.welcome_page_button:hover{
    background-color: var( --button-hovers);
}



.welcome_page_button_section{
    display: flex;
    justify-content: center;
    align-items: center;
}


