.main{
    padding: 0 var(--side-margin);
}

.intro_page_header{
    font-size: var(--font-24px);
}

.intro_page_description{
    font-size: var(--font-16px);
    line-height: 0.2;
}

.intro_decline_button{
    font-size: var(--font-18px);
    width: var(--width-140px);
    border-radius: var(--border-radius-80px);
    border: var(--border-none);
    background-color: var(--blue-colour);

}

.intro_start_button{
    font-size: var(--font-18px);
    width: var(--width-160px);
    border-radius: var(--border-radius-80px);
    border: var(--border-none);
    background-color: var(--blue-colour);
}


.intro_page_buttons{
    justify-content: space-between;
    display: flex;
}