.body_main{
    padding-top: 2em;
    margin: auto;
    width: var(--screen-width);
    height: var(--screen-height);
    overflow: hidden;
    position: relative;
    background-color: var(--white-colour);
    width: var(--screen-width);
    height: var(--screen-height);
    border: var(--screen-border);
    border-color: black;
    border-radius: var(--screen-border-radius);
    color: var( --font-colour);
}
.overlayButton{
    display: flex;
    justify-content: left;
    padding-bottom: 2em;
}

.noneAbove_texts{
    font-size: var(--font-18px);
    font-weight: var(--font-weight-700);
    font-family: var(--font-style);
    text-align: center;

}
.main{
    padding: 0 var(--side-margin);
    font-family: var(--font-style);
}

.noneAbove_page_button{
    width: var(--width-166px);
    height: var(--height-40px);
    border-radius: var(--border-radius-80px);
    font-size: var(--font-18px);
    background-color: var( --blue-colour);
    border: none;
    cursor: pointer;
    margin-bottom: 13.11em;
}
.noneAbove_page_button:hover{
    background-color: var(--button-hovers);
}

.noneAbove_page_button_div{
    display: flex;
    justify-content: center;
}

.noneAbove_pic{
    display: flex;
    justify-content: center;
}

.navbar{
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
}