.body_main {
    padding-top: 2em;
    margin: auto;
    width: var(--screen-width);
    height: var(--screen-height);
    overflow: hidden;
    position: relative;
    background-color: var(--white-colour);
    width: var(--screen-width);
    height: var(--screen-height);
    border: var(--screen-border);
    border-color: black;
    border-radius: var(--screen-border-radius);
    font-family: var(--font-style);
    color: var( --font-colour);
}
.overlayButton{
    display: flex;
    justify-content: left;
    padding-bottom: 1em;
}

.enter_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-24px);
    font-family: var(--font-style);
    font-weight: var(--font-weight-700);
    margin: 0em;
    padding-bottom: 1em;
}

.main{
    padding: 0 var(--side-margin);
    font-family: var(--font-style);
}

.intro_bear{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}
.intro_bear p{
    font-size: 20px;
    margin-bottom: 0px;
}

.navbar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 2em;
    color: black;
}
.category_button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--blue-colour);
    border-radius: var(--border-radius-10px);
    width: 252px;
    height:130px;
    background-color: #EFEFEF;
    border-style: solid;
    border-width: 5px;
    font-family: var(--font-style);
    line-height: 0.3;
    cursor: pointer;
    flex-wrap: wrap;
}
.category_button:hover{
    background-color:var(--button-hovers);
    color: var(--white-colour);
}

.popupContainer{
    position: absolute;
    top: 80px;
    left: 150px;
}

.correct{
    position: absolute;
    text-align: center;
    font-size: 20px;
    width: 200px;
    padding: 10px;
    background-color: var(--blue-colour);
    border: 1px solid #ccc;
    border-radius: var( --screen-border-radius);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.incorrect{
    text-align: center;
    font-size: 20px;
    width: 200px;
    padding: 10px;
    color: red;
}

.chartContainer{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.container {
    display: flex;
    justify-content: center;
    padding: 24px;
    gap: 24px;
    height: 560px;
    margin-top: 6em;

}
.welcome_page_button{
    width: 153px;
    height: var(--height-55px);
    border-radius: var(--border-radius-10px);
    border: var(--border-none);
    font-size: var(--font-18px);
    background-color: var( --blue-colour);
    cursor: pointer;
}