.body_main {
    padding-top: 2em;
    margin: auto;
    width: 390px;
    height: 1444px;
    overflow: hidden;
    position: relative;
}

.nav {
    justify-content: center;
    align-items: center;
    max-width: 100em;
}

.box {
    width: 329;
    height: 538;
}


.cards {
    display: flex;

    width: 22em;
    border: solid;
    border-radius: 1em;
    border-spacing: 0em 1rem;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.text {
    justify-content: center;
}

.link {
    color: black;
}

.eye {
    margin: 1em;
    padding-top: 30px;
}

.head {
    margin: 1em;
    padding-top: 30px;
}

.nose {
    margin: 1em;
    padding-top: 30px;
}

.stomach {
    margin: 1em;
    padding-top: 30px;
}

.other {
    margin: 1em;
    padding-top: 30px;
}