.body_main {
    padding-top: 2em;
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color: rgb(250, 250, 250);
    width: var(--screen-width);
    height: var(--screen-height);
    border: var(--screen-border);
    border-radius: var(--screen-border-radius);
    font-family: var(--font-style);
    padding: 0 var(--side-margin);
}

.main{
    padding: 0 var(--side-margin);
}


.navbar{
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
}

.references_title{
    font-size: var(--font-24px); 
}

.references_description{
    font-size: var(--font-16px); 
}

.reference_lists{
    height: 580px;
    overflow: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.references_section{
    width: 270px;
    border-radius: 10px;
    border: solid;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.references_section_content{
    display: flex;
    flex-direction: row;
    padding: 0 15px;
    justify-content: space-between;
}

.medication_title{
    font-size: var(--font-18px);
    text-align: right;
}

.medication_link{
    text-align: right;
}

.references_section_image{
   display: flex;
   align-items: center;
   padding-top: 20px;
}