.body_main {
    padding-top: 2em;
    margin: auto;
    width: var(--screen-width);
    height: var(--screen-height);
    overflow: hidden;
    position: relative;
    background-color: rgb(250, 250, 250);
    width: var(--screen-width);
    height: var(--screen-height);
    border: var(--screen-border);
    border-radius: var(--screen-border-radius);
}