.body_main {
    padding-top: 2em;
    margin: auto;
    width: var(--screen-width);
    height: var(--screen-height);
    overflow: hidden;
    position: relative;
    background-color: rgb(250, 250, 250);
    width: var(--screen-width);
    height: var(--screen-height);
    border: var(--screen-border);
    border-radius: var(--screen-border-radius);
}
.overlayButton{
    display: flex;
    justify-content: left;
    padding-bottom: 2em;
}
.main_image{
    display: flex;
    justify-content: center;
}
.main{
    padding: 0 var(--side-margin);
}

.intro_page_header{
    font-size: var(--font-24px);
    font-family: var(--font-style);
    font-weight: var(--font-weight-700);
}

.intro_page_description{
    font-size: var(--font-16px);
    line-height: 0.2;
    font-family: var(--font-style);
    font-weight: var(--font-weight-400);
}

.intro_button{
    font-size: var(--font-18px);
    width: var(--width-140px);
    height: var(--height-40px);
    border-radius: var(--border-radius-80px);
    border: var(--border-none);
    background-color: var(--blue-colour);
    font-family: var(--font-style);
    font-weight: var(--font-weight-400);
}



.intro_page_buttons{
    justify-content: space-between;
    display: flex;
}
.intro_page_list {
    padding-bottom: 8em;
    font-family: var(--font-style);
    font-weight: var(--font-weight-400);
}
.intro_page_list li{
    margin: .5em;
}


.popup_alart{
    height: 700px;
    width: 330px;
    background-color: var(--gray-colour);
    position: absolute;
    top: 60px;
    left:30px;
    border-radius: var(--border-radius-30px);
}

.popup_alart_texts{
    padding: 45px 20px;
    font-family: var(--font-style);
}

.popup_alart_close{
    display: flex;
    justify-content: center;
}

.popup_alart_whitepart{
    height: 425px;
    width: 300px;
    background-color: var(--white-colour);
    border-radius: var(--border-radius-20px);
}

.terms_of_services{
    text-align: center;
    font-size: var(--font-24px);
}


.popup_alart_lists{
    font-size: var(--font-16px);
}

.popup_alart_inside_texts{
    width: 250px;
    height: 365px;
    padding: 30px 20px;
}

.terms_of_services_decline{
    font-size: var(--font-18px);
    width: var(--width-140px);
    height: var(--height-40px);
    border-radius: var(--border-radius-80px);
    border: var(--border-none);
    background-color: var(--blue-colour);
    font-family: var(--font-style);
    font-weight: var(--font-weight-400);
}
