.body_main {
    padding-top: 2em;
    margin: auto;
    width: 390px;
    height: 844px;
    overflow: hidden;
    position: relative;
    background-color: rgb(250, 250, 250);

}
.overlayButton{
    display: flex;
    justify-content: left;
    padding-bottom: 2em;
}
.main_image{
    display: flex;
    justify-content: center;
}
.main{
    padding: 0 var(--side-margin);
}

.intro_page_header{
    font-size: var(--font-24px);
    font-family: var(--font-style);
    font-weight: var(--font-weight-700);
}

.intro_page_description{
    font-size: var(--font-16px);
    line-height: 0.2;
    font-family: var(--font-style);
    font-weight: var(--font-weight-400);
}

.intro_button{
    font-size: var(--font-18px);
    width: var(--width-140px);
    border-radius: var(--border-radius-80px);
    border: var(--border-none);
    background-color: var(--blue-colour);
    font-family: var(--font-style);
    font-weight: var(--font-weight-400);
}



.intro_page_buttons{
    justify-content: space-between;
    display: flex;
}
.intro_page_list {
    padding-bottom:8em;
    font-family: var(--font-style);
    font-weight: var(--font-weight-400);
}
.intro_page_list li{
    margin: .5em;
}