.body_main {
    padding-top: 2em;
    margin: auto;
    width: var(--screen-width);
    height: var(--screen-height);
    overflow: hidden;
    position: relative;
    background-color: var(--white-colour);
    width: var(--screen-width);
    height: var(--screen-height);
    border: var(--screen-border);
    border-radius: var(--screen-border-radius);
    font-family: var(--font-style);
    color: var( --font-colour);
}

.main{
    padding: 0 var(--side-margin);
}

.store1{
    padding: var(--padding-30px);
    border-radius: var(--border-radius-20px);
    border-style: solid;
    width: 270px;
}

.store1_name{
    text-align: var(--text-aling-center);
    font-size: var( --font-18px);
    padding-bottom: 15px;
}

.store1_adress{
    text-align: var(--text-aling-left);
    line-height: 0.2;
    font-size: var( --font-10px)
}

.stores_buttons{
    display: flex;
    justify-content: space-between;
    padding-top: var(--padding-30px);
}

.stores_phoneNumber{
    font-size: var( --font-12px);
}

.store_button{
    height: var(--height-20px);
    width: var( --width-80px);
    border-radius: var(--border-radius-80px);
    background-color: var(--blue-colour);
    border: var(--border-none);
}


.navbar{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.store_page_description{
    font-size: var(--font-18px);
}

.store_page_input{
    width: 280px;
    height: 20px;
}

.location_picture{
    width: 30px;
    height: 30px;
}

.store_page_location{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.navbar{
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
}

.store_list{
    height: 550px;
    overflow: auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}